.site-accordion {
    list-style-type: none;
}

.site-accordion .accordion-block {
    list-style: none;
    position: relative;
}

.site-accordion .accordion-block-heading {
    margin: 0;
    font-size: 24px;
    color: #333333;
    padding-right: 50px;
    margin-bottom: 40px;
    cursor: pointer;
    position: relative;
}

.site-accordion .accordion-block-heading:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    background: url(../images/caret-down.svg) no-repeat;
    width: 32px;
    height: 32px;
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
}

.site-accordion .accordion-block-heading.active:after {
    transform: rotate(180deg);
}

.site-accordion .accordion-block-content {
    color: #666666;
    font-size: 14px;
    padding:  0;
    position: relative;
    margin-top: -30px;
    margin-bottom: 40px;
}

.site-accordion .accordion-block-content.active:before {
    opacity: 1;
}
