.nav-dropdown {
    text-align: left;
    z-index: 12;
    opacity: 0;
    position: absolute;
    top: 27px;
    right: 0;
    min-width: 190px;
    padding-top: 21px;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    @include transform(rotateX(-90deg));
    @include transform-origin (0 0 0);
    @include transition(transform 0.7s ease 0s, opacity 0.1s ease 0.3s);
    @include shadow(0 3px 7px -2px rgba(0, 0, 0, 0.5));

    .nav-dropdown-heading-wrap {
        background-color: #fff;
        padding: 15px 15px 0 15px;
    }
    .nav-dropdown-heading {
        color: $theme-color;
        font-size: 14px;
        font-weight: 600;
        margin: 0;
    }
    .nav-dropdown-list {
        background-color: #fff;
        > li {
            display: block;
            margin-left: 0;
            position: relative;
            font-size: 0.75rem;
            padding: 14px 20px;
            border-bottom: 1px solid $form-border-color;
            color: $theme-color;
            @include transition(350ms);
            &:last-child {
                border-bottom: none;
            }
            &:hover {
                background-color: #f4f4f4;
            }
        }
        a {
            text-align: left;
            color: $theme-color;
        }
    }
    &.big-dropdown {
        min-width: 320px;
    }
}

.has-nav-dropdown {
    position: relative;
    display: inline-block;
    &.with-arrow {
        padding-right: 15px;
        &:after {
            content: "\f0d7";
            font-family: FontAwesome;
            position: absolute;
            right: 0;
            top: 4px;
            @include transition(350ms);
        }
        &.active {
            &:after {
                @include rotate(180);
            }
        }
    }
    &.active {
        > .nav-dropdown {
            opacity: 1;
            display: block;
            visibility: visible;
            z-index: 100;
            @include transform(rotateX(0deg));
            @include transition(transform 0.4s ease 0s, opacity 0.1s ease 0s);
        }
    }

    &.hover-dropdown {}
}


@include media-breakpoint-down(xs) {
    .dashboard-header .has-nav-dropdown {
        position: static;
        .nav-dropdown {
            top: 50px;
        }
    }
}
.toogle-menu{
	.toggle-btn{
		width: 26px;
		height: 24px;
		position: relative;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .5s ease-in-out;
		-moz-transition: .5s ease-in-out;
		-o-transition: .5s ease-in-out;
		transition: .5s ease-in-out;
		cursor: pointer;
		z-index: 10001;
		span {
			background:#000;
			display: block;
			position: absolute;
			height: 1px;
			width: 100%;
			border-radius: 9px;
			opacity: 1;
			left: 0;
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: .25s ease-in-out;
			-moz-transition: .25s ease-in-out;
			-o-transition: .25s ease-in-out;
			transition: .25s ease-in-out;
			
			&:nth-child(1){
				top: 0px;			
			}
			&:nth-child(2){
				top: 9px;
			}
			&:nth-child(3){
				top:17px;
			}
		}
		&.open {
			span:nth-child(1){
				top: 9px;
				-webkit-transform: rotate(135deg);
				-moz-transform: rotate(135deg);
				-o-transform: rotate(135deg);
				transform: rotate(135deg);
			}
			span:nth-child(2){
				opacity: 0;
				left: -60px;
			}
			span:nth-child(3){
				top: 9px;
				-webkit-transform: rotate(-135deg);
				-moz-transform: rotate(-135deg);
				-o-transform: rotate(-135deg);
				transform: rotate(-135deg);
			}
		}
	}
	
}
