.social-icons {
    .social-icon {
        background-color: #fff;
        color: $theme-color;
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        @include sphere(1.875rem);
        @include transition(350ms);
        &:hover {
            opacity: 0.7;
            @include translate(0,-5px);
        }
    }
}
