.table {
    color: $theme-color4;
    font-size: 0.70rem;
	margin-bottom:0;
    thead {
        th {
            border-color: $form-border-color;
            border-bottom-width: 1px;
			border-top:0px;
            font-weight: 600;
            padding:0.7rem .6rem;
            /* background-color: rgba(238, 239, 244, 0.5); */
        }
    }
    tbody {
        td {
            font-weight:500;
            padding:0.7rem .6rem;
            vertical-align: middle;
            /* border-bottom: 1px solid $form-border-color; */
           
        }
		tr {
		
		}
    }
    .currency-cell {
        padding-left: 32px;
        position: relative;
        .cell-icon {
            position: absolute;
            left: 0;
            top: 0;
        }
        .cell-heading {
            font-size: 0.8125rem;
            margin-top: 7px;
        }
        .cell-link {
            font-size: 0.75rem;
            font-weight: 400;
            display: block;
        }
    }

    caption {
        caption-side: top;
        letter-spacing: 0.3px;
        font-size: 0.625rem;
        font-weight: 500;
        padding: 0 0 5px 0;
    }
    &.table-striped {
        tbody {
            tr {
                background-color: rgba(20, 137, 253, 0.05);
                &:nth-child(odd) {
                    background-color: transparent;
                }
            }
        }
    }
    &.table-rounded {
        border: 1px solid $form-border-color;
    }

    &.is-responsive {
        @include media-breakpoint-down(sm) {
            thead {
                display: none;
            }
            tbody tr {
                border-bottom: 1px solid lighten($light-gray, 20%);
                &:last-child {
                    border-bottom: none;
                }
                td {
                    display: block;
                    background: none !important;
                    text-align: left !important;
                    border: none !important;
                    padding: 1rem;
                    font-weight: 600;
                    font-size: 18px;
                    &:before {
                        content: attr(data-label);
                        font-weight: 300;
                        margin-bottom: 10px;
                        display: block;
                        font-size: 14px;
                        text-transform: capitalize
                    }
                }
            }
            .deposit-btn-cell {
                width: 48%;
                display: inline-block;
            }
        }
    }
    
    .price-cell {
        padding-left: 8px;
        padding-right: 8px;
    }
	
  &.table-ultimate{
      font-size:13px;
	      font-weight: 600;
		  .kyc-color{
		    color:$blue-color;
			text-decoration:underline;
		  }
		  .kyc-pending{
		     color:#2185D0;
		   }
  }
	
	
}

.deposit-btn {
    pointer-events: none;
}

.accordion-table {
    .content-row {
        display: none;
        .card {
            display: none;
        }
    }
    .table-content-link.active {
        color: $success-color !important;
        font-weight: bold;
    }
    tbody td {
        border-bottom: none;
    }
    >table >tbody > tr:last-child table td {
        border-bottom: 1px solid $form-border-color;
    }
}

.history-table {
    th {
        width: 15%;
    }
    .status {
        .float-right {
            width: 71px;
            @include extra-large {
                width: 86px
            }

        }
    }
}

.compact-table {
    tbody {
        td {
            padding: 0.3rem .5rem;
        }
    }
    thead {
        th {
            padding: 0.59rem .5rem
        }
    }
}
