## Default Git Ignore ##

*old
*bkp
*.sql
desktop.ini
db
*~
*.swp
*.mp4
*.mp3
*.flv
*.avi
error_log
LICENSE
INSTALL.txt
COPYRIGHT*
.env
/vendor/*
/cache/
/session/
/sessions/
sess_*
/node_modules
Homestead.yaml
Homestead.json
/nbproject/
/nbproject/*
*.fdf
/public/storage
/storage
/app/Inv/Repositories/config/common.php
/config/app.php
/config/proin.php
/config/common.php
/bootstrap/cache/config.php
/dextercapital/nbproject/private/
/composer.lock
