.card {
    color: $theme-color4;
    font-size: 0.75rem;
    margin-bottom:10px;
    /* letter-spacing: 0.4px; */
    /* @include border-radius(0.075rem); */
	border:none;

	@include shadow(0 2px 4px 0 rgba(62, 45, 95, 0.23));	
	border-radius:0;
    &.has-flat-bottom {
        @include border-radius(0.375rem 0.375rem 0 0);
    }
    &.has-flat-top {
        @include border-radius(0 0 0.375rem 0.375rem);
    }
   
    &.has-shadow {
        @include shadow(0 2px 4px 0 rgba(62, 45, 95, 0.23));
    }
    .card-body,
    .card-header,
    .card-footer {
        padding:1rem;overflow: hidden;
        border-color: $form-border-color;
        background-color: transparent;
        @include media-breakpoint-down(md) {
            padding: 1rem;
        }
    }
    .card-text-dark {
        color: $theme-color2;
    }
    .card-body {
        &.has-parts {
            padding: 1.375rem 0;
            display: flex;
            @include media-breakpoint-down(md) {
                padding: 0;
                display: block;
            }
        }
        .card-body-part {
            border-right: 1px solid $form-border-color;
            padding: 0 1.688rem;
            width: 50%;
            &:last-child {
                border: none;
            }
            &.big-part {
                width: 85%;
            }
            &.small-part {
                width: 35%;
            }
            @include media-breakpoint-down(md) {
                width: 100%;
                padding: 1.375rem 1.688rem;
                border-bottom: 1px solid $form-border-color;
                border-right: none;
                &.big-part,
                &.small-part {
                    width: 100%;
                }
            }
        }
    }
    .card-header, {
        background: #dfe4e6;
    color: #333;
	position: relative;
    font-size: 14px;
    font-weight:600;
    border-bottom: 0px;
    padding: 11px 15px;
    border-radius: 0px;
		
        &.theme2 {
        font-size: 1.125rem;
        color: #fff;
        background-color: $theme-color;
        text-align: center;
        }
    }
    .card-body-heading {
        font-size: 0.75rem;
        color: $theme-color;
        margin-bottom: 15px;
        font-weight: 600;
        &.marB5 {
            margin-bottom: 5px;
        }
    }

    .user-profile {
        display: flex;
        @include media-breakpoint-down(xs) {
            display: block;
        }
        .user-img {
            margin-right: 35px;
            border: 1px solid $form-border-color;
            padding: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            @include sphere(121px);
        }
        .user-content {
            color: $theme-color2;
        }
        .user-profile-heading {
            font-weight: 600;
            font-size: 0.81rem;
        }
    }

    .card-text-list-heading,
    .card-text-big {
        color: $theme-color2;
        font-size: 1rem;
        font-weight: normal;
        small {
            font-size: 0.75rem;
            font-weight: 500;
            margin-right: 5px;
            position: relative;
            top: -1px;
        }
        .html-icon {
            font-size: 1rem;
            position: relative;
            top: -2px;
        }
    }
    .card-text-small {
        color: $theme-color4;
        font-size: 0.75rem;
    }
.card-header-filters{
	display:none;
}

    .marketTradeTab {
        .card-body-part {
            padding: 0 1rem;
            .card-text-small {
                font-size: 0.6875rem;
            }
            &.big-part {
                width: 60%;
                @include media-breakpoint-down(md) {
                    width: 100%;
                }
            }
        }
        /*.form {
            @include media-breakpoint-up(sm) {
                max-width: 170px;
            }
            .form-group {
                margin-bottom: 25px;
            }
        }*/
    }

    .graph-list {
        width: 310px;
        margin: 0 auto 50px;
    }
.panel-heading {
    background: #dfe4e6;
    color: #333;
	position: relative;
    font-size: 14px;
    font-weight:600;
    border-bottom: 0px;
    padding: 11px 15px;
    border-radius: 0px;
}
}

.card-chart {
    width: 100%;
    height: 405px;
    @include media-breakpoint-down(xs) {
        height: 180px;
    }
}

.card-header-filters {
    display: flex;
    a {
        color: $theme-color2;
        font-weight: 300;
        font-size: 0.8125rem;
        display: block;
        padding: 0.1875rem 0.5625rem;
        cursor: pointer;
        @include border-radius(0.75rem);
        &.active {
            color: #fff !important;
            background-color: $theme-color;
            text-align: center;
        }
    }
    @include media-breakpoint-down(sm) {
        display: none;
        position: absolute;
        top: 20px;
        right: 0;
        width: 300px;
        background-color: #fff;
        z-index: 10;
        @include shadow(0 2px 4px 0 rgba(62, 45, 95, 0.23));
        a {
            padding: 13px;
            text-align: center;
            font-size: 16px;
            font-weight: 500;
            @include border-radius(0);
        }
    }
}

.banner-card {
    max-width: 390px;
    width: 100%;
    color: $theme-color2;
    @include border-radius(0.625rem);
    @include media-breakpoint-down(md) {
        max-width: 100%;
    }
    .btn-primary {
        min-width: 120px;
    }
    .card-header {
        padding: 0;
        font-size: 0.877rem;
    }

    &.tab-navigation .tab-head {
        .tab-head-item {
            width: 50%;
            margin-left: 0;
            color: $theme-color4;
            border-left: 1px solid $form-border-color;
            &.active {
                border-bottom-color: $theme-color;
            }
            &:first-child {
                border-left: none;
            }
        }
    }
}

.banner-card-form {
    display: flex;
    li {
        padding: 15px 30px;
        flex: 1;
        @include media-breakpoint-down(xs) {
            padding: 15px;
        }
        &.form-select {
            flex: 1.1;
            padding: 0;
            border-right: 1px solid $form-border-color;
            select {
                border: none;
                width: 100%;
                appearance: none;
            }
            .select2-container .selection {
                height: 100%;
                display: flex;
                justify-content: center;
            }
            .select2-container .select2-selection--single .select2-selection__rendered {
                font-size: 14px;
                font-weight: 600;
            }
            .select2-container--default .select2-selection--single .select2-selection__arrow b {
                border-width: 8px 6px 0 6px;
                border-color: $theme-color4 transparent transparent transparent;
            }
            .select2-container--default .select2-selection--single {
                padding-top: 21px;
            }
            .select2-container--default .select2-selection--single .select2-selection__arrow {
                top: 20px;
                right: 13px;
            }
            .select2-container--default .select2-selection--single,
            .select2-container {
                border: none !important;
                height: 100% !important;
                outline: none !important;
            }
        }
    }
}

.orderbook-card {
    .card-header .select2 {
        position: absolute;
        right: 0;
        top: -5px;
        height: 27px !important;
    }
}


.cards-list {
    display: flex;
    @include media-breakpoint-down(sm) {
        display: block;
        .card {
            width: 100% !important;
        }
    }
    .card {
        width: 50%;
        border-left: none;
        margin-bottom: 0;
        @include border-radius(0);
        &:first-child {
            border-left: 1px solid $form-border-color;
            @include border-radius(0.375rem 0 0 0.375rem);
        }
        &:last-child {
            @include border-radius(0 0.375rem 0.375rem 0);
        }
        .card-body {
            padding: 1rem 0.5rem;
        }
        .card-header {
            padding-top: 0.6875rem;
            padding-bottom: 0.6875rem;
        }
    }
}


.rates-card-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    @include media-breakpoint-up(xl) {
        .card-separator {
            margin: 0 5px;
        }
        .card-header,
        .card-body {
            padding: 13px 5px;
        }
    }
    .rates-card {
        margin: 5px;
        color: $theme-color;
        width: calc(20% - 10px);
        @include media-breakpoint-down(lg) {
            width: calc(50% - 30px);
            margin: 15px;
        }
        @include media-breakpoint-down(xs) {
            width: calc(100%);
        }
    }

    .card-header {
        justify-content: center;

    }
    .card-title {
        font-size: 18px;
        font-weight: normal;
        color: #2e2e2e;
        display: flex;
        margin: 0;
        align-items: center;
        justify-content: center;
        .card-title-icon {
            margin-right: 10px;
        }
    }
    .card-body {
        font-weight: 600;
    }
    .text-success {
        color: #74d96e !important;
    }
    .text-danger {
        color: #e9394f !important;
    }
    .left-text {
        font-size: 16px;
    }
    .right-text {
        padding-left: 15px;
        &:before {
            font-family: FontAwesome;
            content:"\f0d8";
            display: inline-block;
            margin-right: 5px;
        }
        &.text-danger {
            &:before {
                content:"\f0d7";
            }
        }
    }
}


.card-bg{
	.card-body{
		font-size:1.2rem;
	}
	


.close-popup{
	padding: 5px 9px;
    position: absolute;
    top: -24px;
    right: 0px;
	cursor:pointer;
	 background: #dfe4e6;
    color: #333;
    font-size: 14px;
}

}
.overlay_wallet {
    position: fixed;
    background: rgba(0,0,0,0.5);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
}