.modal-lg {
    max-width: 672px;
}

.modal {
    font-size: 0.8125rem;
    &.fade {
    opacity: 1;
    }
	&.show  {
		  display:flex!important;
		  flex-direction:column;
		  justify-content:center;
		  align-content:center;
		  align-items: flex-start;
		  background-color: rgba(0, 0, 0, 0.4);
	}
	
	.modal-content{
 	}
    .modal-title {
        font-size: 16px; 
    
    color: #000;
    font-weight: 600;
 
    }
	.modal-header{background: #D9D9DA;}
    .modal-body {
        min-height: 300px;
        font-size: 14px;
        color: $theme-color4;
        padding: 1rem 2.188rem 2.4rem 2.188rem;
		 
       line-height: 22px;
        &.is-small {
        min-height: 120px;
        }
        .form-control-wrap {
            max-width: 203px;
            position: relative;
        }
        @include media-breakpoint-down(sm){
            padding: 1rem;
        }
		p{
		  opacity:.8;
		  font-size:13px;
		}
    }
    .modal-header {
        position: relative;
		border:0px;
    }
    .modal-footer {
		border: none
        
    }
    .close {
        margin: 0;
        padding: 0;
        opacity: 1;
		color:$theme-color;
        right: 15px;
        @include vertically-centered();
        @include square(15px);
    }
    
    .card-text-list-heading {
        font-size: 1rem;
        color: $theme-color2;
        font-weight: normal;
    }
    .card-text-list {
        font-size: 0.75rem;
    }
    .custom-select {
        max-width: 274px;
    }
}
.modal-backdrop {
    background: rgba(0,0,0,0.5);
}

#twoFAModal .modal-body .tab-pane {
    max-width: 450px;
}

* [data-toggle="modal"] {
    cursor: pointer;
}



.headline-h4{
	color:$theme-color;
	font-size: 14px;
	font-weight: 700;
	line-height: 23px;
}