.tab-navigation {

	.tab-head {
		display: flex;

		&.border-bottom {
			border-bottom: 1px solid $form-border-color;
		}

		.tab-head-item {
			cursor: pointer;

			@include transition(350ms);

			a {
				padding: 0.875rem 0.625rem;
				text-align: center;
				color: $theme-color2;
				font-weight: 500;
				border-bottom: 4px solid transparent;
				margin-left: 25px;

				&.active {
					font-weight: 400;
					border-bottom-color: $theme-color;
				}
			}

			&:first-child {
				margin-left: 0 !important;
			}

		}

		&.theme2 {
			.tab-head-item {
				border: none;
				padding: 0.25rem 0.58rem;
				font-size: 0.8125rem;
				margin-left: 15px;
				@include border-radius(20px);

				&.active {
					background-color: $theme-color;
					color: #fff;
				}
			}
		}

		&.vertical-tabs {
			display: block;

			.tab-head-item {
				margin-left: 0;
				border-bottom: 1px solid $form-border-color;
				border-left: 2px solid transparent;
				text-align: left;
				padding-left: 1.25rem;

				&.active {
					border-left-color: $theme-color;
					background-color: #f3f9ff;
				}
			}

			&.horizontal-sm {
				@include media-breakpoint-down(sm) {
					display: flex;

					.tab-head-item {
						width: 33.33%;
						border-left: 1px solid $form-border-color;
					}
				}
			}
		}

		&.buysellTab {
			.tab-head-item {
				border-bottom: none;
				color: #fff;
				min-width: 100px;
				opacity: 0.8;
				@include border-radius(1.25rem);

				&.active {
					opacity: 1;
				}
			}

			.buytab {
				background-color: $theme-color2;
			}

			.selltab {
				background-color: red;
			}
		}
	}

	&.section-tabs {
		.tab-head-item {
			width: 50%;
			font-size: 1.125rem;
			padding: 0;
			margin: 0 !important;
			color: $theme-color;
			border-bottom: none;
			font-weight: 500;
			background-color: #f7f7f8;
			position: relative;

			a {
				padding: 1rem 0.625rem;
				display: block;

				&.active {
					color: #fff;
				}
			}

			&.active {
				background-color: $theme-color;
				color: #fff;

				&:before {
					bottom: -8px;
					@include horizontally-centered();
					@include triangle(top, $theme-color, $size: 8px);
				}

			}
		}
	}
}

.tab-wizard {
	.tab-head {
		padding-left: 25px;
		padding-right: 25px;

		@include media-breakpoint-down(sm) {
			padding-left: 10px;
			padding-right: 10px;
			justify-content: space-between;
		}

		.tab-head-item {
			font-size: 0.75rem;
			padding: 0.625rem;
			text-align: left;
			opacity: 0.4;
			position: relative;
			pointer-events: none;

			&:after {
				content: "";
				right: -17px;
				width: 8px;
				height: 14px;
				background: url(../images/arrow-right.png) no-repeat;
				@include vertically-centered();
			}

			&:last-child {
				&:after {
					display: none;
				}
			}

			.step {
				display: block;
				margin-bottom: 7px;
				color: $theme-color4;

				@include media-breakpoint-down(sm) {
					margin: 0;
				}
			}

			&.active,
			&.visited {
				opacity: 1;
				pointer-events: all;
			}
		}
	}

	.tab-pane-content {
		max-width: 450px;
		width: 100%;
	}
}

.active_green {
	.active {
		background: #fff !important;
		border-color: #04b54f !important;
		color: #04b54f !important;
	}
}

.active_red {
	.active {
		background: #fff !important;
		border-color: #fa1b38 !important;
		color: #fa1b38 !important;
	}
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
	color: #000000;
	background-color: #FFF0C4;
}

.nav-pills .nav-link {

    border-radius: 0.25rem;
    color: #767676;
    font-size: 13px;

}
