/* Bootstrap */
@import 'bootstrap/bootstrap';


/* Mixins */
@import 'mixins/media-queries';
@import 'mixins/border-radius';
@import 'mixins/transition';
@import 'mixins/transform';
@import 'mixins/box-shadow';
@import 'mixins/position';
@import 'mixins/triangle';
@import 'mixins/utilities';

/* Utilities */
@import 'utilities/variables';
@import 'utilities/settings';
@import 'utilities/generic-classes';

/* Layout */
@import 'layout/header';
@import 'layout/site-banner';
@import 'layout/footer';
@import 'layout/login-area';

/* Modules */
@import 'modules/menu-trigger';
@import 'modules/section';
@import 'modules/circle';
@import 'modules/buttons';
@import 'modules/card';
@import 'modules/tab-navigation';
@import 'modules/form';
@import 'modules/checkbox';
@import 'modules/nav-dropdown';
@import 'modules/main-navigation';
@import 'modules/social-icons';
@import 'modules/table';
@import 'modules/text-block';
@import 'modules/custom-select';
@import 'modules/pagination';
@import 'modules/lists';
@import 'modules/modals';
@import 'modules/custom-file-input';
@import 'modules/piechart';
@import 'modules/ui-slider';
@import 'modules/dashboard';
@import 'modules/compact-page';
@import 'modules/go-to-top';
@import 'modules/chat';
@import 'modules/upload-file';


/* CSS code from Developer */
@import 'utilities/developer-codes';


/* Cross Browser code if any */
@import 'utilities/cross-browsers';