$theme-color:#F7CA5A;
$theme-color2: #676666;
$theme-color3: #5e36b8;
$theme-color4: #010101;
$theme-color-light: #319bf3;
$light-gray: #f8f8f8;
$success-color: #6ac407;
$FontStack: 'Lato', sans-serif !important;
$text-color: #743939;
$text-color2: #7B7B7B;
$text-color3: #531919; 
$text-color4: #842626; 
$text-colorlink: #905151;
$form-border-color: #a9a9a9;
$error-color: #f35a73;
$background-color: #F5F5F5;

