 .pagination .page-item.disabled .page-link {
 	color: #999 !important;
 }


 .page-link {
 	color: #531919 !important;

 	border: 1px solid #dee2e6 !important;
 }

 .fa {
 	font: normal normal normal 14px/1 FontAwesome !important;

 }

 ul.filter-sec {
 	select {
 		min-width: 190px;
 	}

 	input {
 		background-color: #fff;
 		border: 1px solid #DEDEDF;
 		padding: 8px 20px;
 		border-radius: 34px;
 		color: #7d7975;
 		min-width: 340px;
 		min-width: 340px;
 		font-size: 14px;
 	}

 	li {
 		padding: 0 15px 0 0;
 		margin: 0;
 		list-style: none;
 		display: inline-block;
 		position: relative;

 		.btn.btn-primary {
 			background-color: #531919 !important;
 			color: #fff;
 			border-color: #531919;
 			border-radius: 4px;
 			padding: 4px 9px 6px;
 		}

 	}

 }

 .form-control:focus {

 	border-color: #DEDEDF;
 	box-shadow: none;
 }

 .breadcrumbs-bg {
 	li {
 		display: inline-block;
 		color: #1B1C1D;
 		position: relative;


 		&::after {
 			content: "\f054";
 			font-family: 'FontAwesome';
 			font-size: 10px;
 			text-align: center;
 			color: #767676;
 			width: 16px;
 			height: 16px;
 			line-height: 16px;
 			display: inline-block;
 			border-radius: 50%;
 			margin-left: 5px;
 			font-weight: 100;
 		}

 		&:last-child::after {
 			display: none
 		}


 		a {

 			color: #d07575;


 		}
 	}

 	.form-control {
 		min-width: 180px;
 	}
 }







 .action-btns .btn {
 	margin-left: 10px;
 }

 .breadcrumbs {
 	.btn.btn-default.btn-sm.btn-approved::before {
 		content: "";
 		width: 1px;
 		height: 30px;
 		background: #E4E4E4;
 		position: absolute;
 		left: -22px;
 		top: 0;
 	}

 	.btn.btn-default.btn-sm.btn-approved {

 		position: relative;
 		margin-left: 42px;

 	}

 }






 .nav-tabs {
 	.nav-link {
 		color: #000000;
 		border: none;
 		font-size: 14px;
 		padding: 8px 11px;
 		margin: 0 35px 0 0;
 	}

 	.nav-item.show .nav-link {

 		border: none;
 	}

 	.nav-link.active {
 		border: none;
 		border-bottom: solid 3px;
 		font-weight: 600;
 	}
 }

 .dashbord-white {
 	height: 90vh;
 	overflow: auto;
 }


 .heading {
 	h4 {
 		color: #9C9C9C;
 		font-size: 0.8rem;
 		position: relative;
 		overflow: hidden;

 		&::after {
 			content: "d";
 			width: 100%;
 			height: 1px;
 			background: #CBCBCB;
 			position: absolute;
 			top: 9px;
 			font-size: 0;
 			margin-left: 12px;
 		}
 	}

 }

 .sub-heading h4::after {
 	display: none
 }

 .down-load {
 	color: #A2A2A2;
 	background: transparent;
 	border: none;
 	font-size: c;
 	cursor: pointer;
 }

 .full-width {
 	width: 100%
 }

 .transparent-btn {

 	background: transparent;
 	border: none;

 }


 .documents-list .data-download .db_uplad-file {
 	background: #F1F1F1;
 	color: #333;
 	font-size: 12px;
 	padding: 8px 14px;
 	border-radius: 40px;
 	display: inline-block;

 	i {
 		color: #A2A2A2;
 		margin-left: 4px
 	}
 }

 i.fa-download {
 	color: #A2A2A2;
 	margin-left: 4px
 }

 .documents-list {

 	h4 {
 		font-size: 14px;
 		color: #000;
 		font-weight: 600;
 	}

 	ul {

 		border: solid 1px #eee;
 		padding: 12px 0;
 		margin: 14px 0;
 		box-shadow: 0 2px 6px #f0f0f0;

 		li {
 			border-top: solid 1px #eee;
 			padding: 10px 16px;

 			&:first-child {
 				border-top: solid 0px #eee;

 			}
 		}


 	}
 }



 .data-download td {
 	font-size: 14px;
 	color: #000;
 	border-bottom: solid #fff 8px;
 }

 .form-control.remark {

 	min-width: 540px;
 	min-height: 190px
 }


 #Approved_Action label {
 	color: #333;
 	font-size: 14px;
 }

 select {
 	background-image: url("../images/arrow.svg");
 	background-size: 9px;
 	background-repeat: no-repeat;
 	background-position: right 8px center;
 	-moz-appearance: none;
 	-webkit-appearance: none;

 }

 .breadcrumbs select {
 	min-width: 160px;
 }
