.login-page {
    background: url(../images/component.png) no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    padding: 30px 15px;
	color:$text-color;
    .content-wrap {
        width:(460 * 100vw / 1366);
		height:80vh;
        margin: 30px auto;
		background: rgba(255, 255, 255, .78); 
        @include media-breakpoint-down(xs) {
            width: 100%;
        }
		&.height-auto{
		  height:auto;
		}
    }
    .login-section {
        @include padding-model(40px 50px);
        width: 100%;
		height:85%; 
		&.sign-box{
			 @include padding(75px, left, $all: false);
			 @include padding(75px, right, $all: false);
			@include media-breakpoint-down(xs) {
			  padding:50px;
			} 
			 
		}
	@include media-breakpoint-down(xs){
	   @include padding-model(40px);
	}	
		
   }
	.height-100{
	  height:100%;
	}
    .login-link{
	  width:100%;
	  text-align:center;
	}
	.login-link a{
	  display:block;

	}
	
   .register {
		font-size: 14px;
		font-weight: bold;
		color: $text-color;
		@include padding(15px, left, $all: true);
   }
	
   .have-account{
    color:#000;
	a{
	  color:$text-color;
	}
   }	
	
}

.head-line2 {
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
	font-family:'Sansation', sans-serif;
}
.p-conent{
	color:$text-color2;
	font-weight: 500;
	font-size: 14px;
	line-height: 22px;
}
.theme-colors{
  color:$text-color;
  text-decoration: underline !important;
}